{% extends 'base.html' %}

{% block content %}

<div class="container my-3 bg-light">
    
    <h1 class="text-center">Register Member</h1>

    <div>
        <form method='post' enctype="multipart/form-data" class="form-control shadow">

            {% csrf_token %}

            <div class="form-group mb-3">
                <label for="{{ form.username.auto_id }}">{{ form.username.label }}</label>
                <input type="text" name="{{ form.username.html_name }}" id="{{ form.username.auto_id }}" class="form-control bg-light" value="{{ form.username.value|default:'' }}">
            </div>
            
            <div class="form-group mb-3">
                <label for="{{ form.password.auto_id }}">{{ form.password.label }}</label>
                <input name="{{ form.password.html_name }}" id="{{ form.password.auto_id }}" class="form-control bg-light">{{ form.password.value|default:'' }}</input>
            </div>

            <div class="form-group mb-3">
                <label for="{{ form.profile_picture.auto_id }}">{{ form.profile_picture.label }}</label>
                <input type="file" name="{{ form.profile_picture.html_name }}" id="{{ form.profile_picture.auto_id }}" class="form-control">
            </div>

            <input type="submit" value='Register' class="btn bg-lime">

        </form>
    </div>

</div>

{% endblock %}
