{% extends 'base.html' %}
{% block title %}About{% endblock title%}
{% block content %}

<style id="the flip effect"> 
    .flip:hover {
      transform: rotateY(180deg);
    }
    
    .card {
      position: relative;
      transform-style: preserve-3d;
      transition: all 0.8s ease;
    }
    
    .front, .back {
     
      top: 0;
      left: 0;
      width: 100%;
      backface-visibility: hidden;
    }
    
    .front {
      z-index: 2;
    }
    
    .back {
      transform: rotateY(180deg);
    }

    /* Add the CSS for the click event */
    .card.flipped .front {
      transform: rotateY(180deg);
    }

    .card.flipped .back {
      transform: rotateY(0deg);
    }
</style>

<div class="container my-3 bg-light">
    <div class="row ms-1">
        <img src="https://drive.google.com/uc?export=view&id=19D9DQFvK7fuub2xTfhjBeQjZYI2aKKRI" alt="" class="img-fluid">
    </div>

    <div class="row ms-1">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title fw-bold">About Us</h2>
                <p class="card-text">
                    At We Can Inc, wellbeing is at the forefront of what we’re working together towards. Our programs and activities are designed to be a catalyst that helps every society members reach their goals and fulfill their potential. Our organization was created to bridge a society of divides love and unity by fostering the exchange of ideas, molding the minds of young global leaders and rebirth the world through joint efforts of everyone in the world regardless of educational, social or financial, religious and cultural believe and status in society. We will to built a more just, prosperous and inclusive world by empowering youth, cultivating leaders, strengthening institutions and extending access to quality lives and information.
                </p>
                <p class="card-text">
                    We the members of the We Can Inc:
                    Acknowledging our devout gratitude to the almighty God for our existence as a nonprofit, Non- governmental organization, and an intercontinental association that is relaying on the divine guidance for our survival and the power vested in us as an organization, exercising our natural inherent and inalienable rights to establish a framework of organization for the purpose of promoting unity, liberty, Peace, Talent, Equality, all form of Justice, Nonviolence, Advocacy and Activism, Education, Human Right, Social Change Making, Good Health of Society and Operate as Permanent Development Entity that engage in all General Social Work Activities. 
                </p>
                <p class="card-text">
                    Unity in the Rule of Law, with opportunities for Social, Moral, Economical, Political, Religious, Democracy, Agricultures and Cultural Advancement of our Society, Ourselves, Our prosperity and the world at large. 
                </p>
                <p class="card-text">
                    Having resolved to live and work in harmony, to practice fraternal love, tolerance and understanding as members and being fully mindful of our obligation to promote Africa, Asia Europe Americas and rest of the world at large with the International peace and Human right and Cooperation.
                    Do hereby solemnly make, Establish, Proclaim, and Publish this organization for all. 
                </p>
            </div>
          </div>
    </div>

    <div class="row ms-1 mt-4">

        <div class="col-md-6 mb-4">
            <h1 class="fw-bold">Our Values</h1>
            <h4 class="fst-italic fw-bold">What keeps us strong</h4>
            <p class="mt-4">Respect for human dignity: we stand to protect and respect everyone dignity.</p>
            <p>Integrity and reliability: we believe each other in all operations·</p>
            <p>Commitment: We keep our Promises and stand by our words.</p>
            <p>Social Justice: standing for every victim to have justice, which is our priority.</p>
            <p>Equality and Equity: We stands to be fair and just.</p>
            <p>Gender Mainstreaming and inclusive: We seek to hire people as diverse as those we support and we ensure that our beneficiaries are inclusive of all nature and backgrounds.</p>
                       
        </div>

        <div class="col-md-6">
            <img src="https://drive.google.com/uc?export=view&id=1930EIqdI7a_AdCbvgsJWxoCiRWsO024j" class="img-fluid rounded" alt="">
        </div>

    </div>

    <div class="row my-4 ms-1 justify-content-center ">
        
        <div class="card flip me-3 mb-5 w-75 shadow">
            <div class="front">
                <div class="card-body">
                    <h3 class="card-title fw-bold text-center">Our Mission</h3>
                </div>
            </div>
            <div class="back">
                <div class="card-body">
                    <p class="card-text">
                        By chances are you've heard of this events. maybe you'll  walked it. why not try your hand as a volunteer? find a walk near you by using your expertise for a good cause in a diverse set of impactful means.Our mission is to create excellent society by combating impunity through the fight for equal access to justice, Economic empowerment of all citizens in Africa and the world by alleviate poverty and inspires sustainable democratic development and creating a communication to expose global environment problems and promote solutions that are essential to the world. 
                    </p>
                </div>
            </div>
            
        </div>

        <div class="card flip me-3 mb-5 w-75 shadow">
            <div class="front">
                <div class="card-body">
                    <h3 class="card-title fw-bold text-center">Our Vision</h3>
                </div>
            </div>
            <div class="back">
                <div class="card-body">
                    <p class="card-text">
                        To help people throughout the world realize their full potential by bringing inspiration and innovation to every person in the world and built a future in which people live in harmony with nature and seek a world of tolerance, hope and social justice where poverty has been overcome and people live in dignity and security, with a just world that values and conserves nature 
                    </p>
                </div>
            </div>
            
        </div>

        <div class="card flip me-3 mb-5 w-75 shadow">
            <div class="front">
                <div class="card-body">
                    <h3 class="card-title fw-bold text-center">Our Goals</h3>
                </div>
            </div>
            <div class="back">
                <div class="card-body">
                    <p class="card-text">
                        Our goals is to promote great opportunities for those in need with access to the right resources, so people can become empowered by their own abilities and gain the confidence to fulfill their potential. By further a social cause and provide a public benefit in improving the state of the natural environment, and encouraging the observance of human rights, in improving the welfare of the disadvantaged, or representing a corporate agenda. 
                    </p>
                </div>
            </div>
            
        </div>

    </div>

    <div class="row my-4 ms-1 justify-content-center">
        
        <div class="card me-3 mb-2" style="width: 27rem;">
            <img src="https://drive.google.com/uc?export=view&id=13KXaZpwBXxeH1SjyMiOD-p0ivNmTI-n2" class="card-img-top" alt="..." height="200px;">
            <div class="card-body">
                <h3 class="card-title fw-bold">Who We Are</h3>
                <p class="card-text">
                    We Can Inc, is a global development and humanitarians  organization focuses people and work with everyone on the issues affecting humanity, we work together on the front lines of crisis, and create a world where everyone can prosper by delivering aid to meet urgent needs. 
                </p>
            </div>
        </div>

        <div class="card me-3 mb-2" style="width: 27rem;">
            <img src="https://drive.google.com/uc?export=view&id=1XyPcRRwi0jJoQxLtl6Mdrss3tdlzab94" class="card-img-top" alt="..." height="200px;">
            <div class="card-body">
                <h3 class="card-title fw-bold">How We Work</h3>
                <p class="card-text">
                    We work to efficiently, effectively and sustainably regulate and enable the charitable sector to enhance its role in national and international development by work with people everywhere around the world to increase people ability to engage with vibrant information and broaden access to quality livelihood and develop long-term solutions to make lasting change possible 
                </p>
            </div>
        </div>

    </div>

    <div class="row ms-1 mt-4">

        <h2 class="text-center">Our Project Management Policy</h2>

        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://drive.google.com/uc?export=view&id=1VHxJnmXnoPnXXDQojIJb_c4oxwq8wZ9_" class="img-fluid rounded" alt="..." height="200px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body ">
                        <h5 class="card-title fw-bold">Recognizing the needs in the fields</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://drive.google.com/uc?export=view&id=1hly2M_0XQ4TCX7Q-rNjvRRgjbmPWR0Mw" class="img-fluid rounded" alt="..." height="200px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body ">
                        <h5 class="card-title fw-bold">Working together with the local people</h5>
                        <p class="card-text">
                            The local people play the main role in We Can Inc assistance program. Local staff lead program implementation with guidance from local professionals under the management of experienced international staff.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://drive.google.com/uc?export=view&id=13459hJauCH3xWq8oAPxhm2EU0jUGBcjW" class="img-fluid rounded" alt="..." height="200px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body ">
                        <h5 class="card-title fw-bold">Focusing on forgotten peoples and regions</h5>
                        <p class="card-text">
                            Not all areas in need receive media attention. We Can Inc, implements its assistance programs even in regions where there has been little or no media coverage, especially for vulnerable populations.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://drive.google.com/uc?export=view&id=1_Xxljrx9Af3fSzxJ-MvQ5smlfOR6AwgB" class="img-fluid rounded" alt="..." height="200px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body ">
                        <h5 class="card-title fw-bold">Building and maintaining self-reliance</h5>
                        <p class="card-text">
                            We Can Inc, promotes self-reliance of those people in need. In that light, We Can Inc, programs take a long view and employ mechanisms that maximize the use of people's ability and the will of humans to live. The experience and expertise of We Can Inc, make this possible. 
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://drive.google.com/uc?export=view&id=1Ooj6mNAx8Tx2DTu2jHwQihX4HsT3u-mc" class="img-fluid rounded" alt="..." height="200px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body ">
                        <h5 class="card-title fw-bold">We achieve the best at minimum cost</h5>
                        <p class="card-text">
                            For successful program implementation at minimum cost, we obtain all possible resources locally, both human and material. In this way the potential capabilities of an area can be developed effectively and economically.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    $('.card').on('click', function(event) {
      event.stopPropagation();
      $(this).toggleClass('flipped');
    });
    
</script>
{% endblock %}
