{% extends 'base.html' %}
{% block title %}Activities{% endblock title%}
{% block content %}

<div class="container my-5 bg-light">

    <div class="row ms-1">

        <div class="col-md-6 mb-4">
            <h1 class="fw-bold">Activities</h1>
            <p class="mt-4 fw-bold">
                The general activities and nature of this institution in which this corporation shall engage in is as follow below and include any lawful act or activities for which a Not-For-Profit, Non-Governmental and Global Humanitarian Organization operates and is authorized to. 
            </p>
            <a href="{% url 'get_involve' %}"><button class="btn bg-lime mt-3">Join The Activities</button></a>
        </div>

        <div class="col-md-6">
            <img src="/media/images/act-background.jpeg" class="img-fluid rounded" alt="">
        </div>

    </div>

    <div class="row ms-1">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title fw-bold">How We Can Inc, works</h2>
                <p class="card-text">
                    We as a Non- governmental and global humanitarian association, focuses on people and communities, we work with every Institutions and Individuals for society improvement and the wellbeing of all, which is depends on everyone of us ensuring that we all feel that we have a stake in it and do not feel excluded from the mainstream of society. This is requires that all of us but, particularly the most vulnerable have equal opportunities to improve or maintain their wellbeing, We take action on issues confronting humanity.
                </p>
            </div>
          </div>
    </div>

    <div class="row ms-1 mt-4">

        <div class="col-md-6">
            <figure class="figure">
                <img src="/media/images/act-class.png" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">Advocating for Girls Education and Participation in our Society for brighter Tomorrow and the coming Generations.</figcaption>
            </figure>
        </div>

        <div class="col-md-6 mb-4">
            <figure class="figure">
                <img src="/media/images/act-giving.jpeg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">Giving School Going Girls Gift for Excellent Performance in School and Proving them Some Basic School materials.</figcaption>
            </figure>
        </div>

    </div>

    <div class="row ms-1 mt-4">
        <h3>Our Nature and General Activities We Involve in are as follows</h3>

        <ul class="list-group list-group-numbered">
            <li class="list-group-item">Global Issues </li>
            <li class="list-group-item">Observances </li>
            <li class="list-group-item">Promotion of Sustainable Development </li>
            <li class="list-group-item">Establish/Operate Educational and Vocational Institutions</li>
            <li class="list-group-item">Health Services with focus on Water and Sanitation </li>
            <li class="list-group-item">Rehabilitation and Build Community Infrastructure</li>
            <li class="list-group-item">Acquire Land for Farming and Engage in General Agriculture </li>
            <li class="list-group-item">Including Welfare Services </li>
            <li class="list-group-item">Engage in Civic Education </li>
            <li class="list-group-item">Peace Building and Human Rights </li>
            <li class="list-group-item">Advocacy</li>
            <li class="list-group-item">Prison inmates </li>
            <li class="list-group-item">Climate Justice/Change </li>
            <li class="list-group-item">Global Crisis Response </li>
            <li class="list-group-item">Hate Speech </li>
            <li class="list-group-item">Rule of Law </li>
            <li class="list-group-item">Refugees and Migrants </li>
            <li class="list-group-item">Spotlight Initiative </li>
            <li class="list-group-item">Gender Equity and Inclusion </li>
            <li class="list-group-item">Preventing Sexual Exploitation and Abuse </li>
            <li class="list-group-item">Prevention of Genocide and the Responsibility to Protect </li>
            <li class="list-group-item">Disability Inclusion Strategy </li>
            <li class="list-group-item">Women Rise for All </li>
            <li class="list-group-item">Corruption</li>
            <li class="list-group-item">Children and Armed Conflict and Violence Against Children </li>
            <li class="list-group-item">Action to Counter terrorism </li>
            <li class="list-group-item">Promotion of good Governance </li>
            <li class="list-group-item">Operate Exclusively for Humanitarian and Charitable Purposes </li>
            <li class="list-group-item">Engage in all General Social Work Activities and Legal Corporative Activities </li>
            <li class="list-group-item">promote the development of the local community and civil society organizations</li>
            <li class="list-group-item">promote the tolerance,  intercultural dialogue and development of democracy </li>
          </ul>

    </div>

    <div class="row ms-1 mt-4">

        <div class="col-md-6">
            <figure class="figure">
                <img src="/media/images/trade.jpeg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">At the World Bank In Grand Cape Mount County Republic Of Liberia</figcaption>
            </figure>
        </div>

        <div class="col-md-6 mb-4">
            <h3 class="fw-bold">
                Trade Experience in several counties in Liberia 
            </h3>

            <p class="mt-4">
                A life Experience in Liberia on a survey in few counties, particularly the Bomi, Grand Cape Mount And Lower Montserrado County. The life intensive of people in rural slum communities are unbearable. People in these setting lives an unbelievable lives looking at the risk of life they lives and surviving is unimaginable.
            </p>
        </div>

    </div>

</div>

{% endblock %}
