{% extends 'base.html' %}
{% block title %}Home{% endblock title%}
{% block content %}


<div class="container my-5 bg-light">

    <div class="row ms-1">

        <div class="col-md-6 mb-4">
            <h1>Experience We Can Inc.</h1>
            <h4 class="fst-italic fw-lighter">Working Towards a Brighter Future</h4>
            <p class="mt-4">At We Can Inc, wellbeing is at the forefront of what we’re working together towards. Our programs and activities are designed to be a catalyst that helps community members reach their goals and fulfill their potential. Learn more about the positive impact we have made and join us in bringing about positive change.</p>
            <a href="{% url 'donate' %}"><button class="btn btn-danger mt-3">Donate</button></a>
        </div>

        <div class="col-md-6">
            <img src="https://drive.google.com/uc?export=view&id=1Apan2hkTiVP0uqvOMQk9hUX-GVd-ZVML" class="img-fluid rounded" alt="">
        </div>

    </div>

    <div class="row my-4 ms-1">

        <div class="bg-light">
            <div class="card-body">
                <h2 class="card-title">We Can Inc at a glance</h2>
                <p class="card-text">We Can Inc. knows that our strength lies not only in the words we stand by, but most importantly through the actions of our initiatives. Our Non-Profit Organization realized that by working together we could overcome our challenges much more efficiently, and that is why we ultimately decided to launch We Can Inc.<a href="{% url 'about' %}"><button type="button" class="btn btn-link">Read More</button></a></p>
                
            </div>
            <img src="https://drive.google.com/uc?export=view&id=1xQox7X0_K0VhuWNiXyX9grQN3Z1vPQ6q" class="card-img-bottom rounded" alt="..." height="400px">
            
        </div>
        
    </div>

    <div class="row my-4 ms-1">

        <div class="bg-light">
            <div class="card-body">
                <h2 class="card-title">Our Beliefs</h2>
                <p class="card-text">"Our belief is that contribution brings innovation to the demonstration of how solutions can be delivered on ground by making things meaningful as we beardly strive to build a better future for all." We believe that every human-being has an innate desire to do something for another. if we all do something together, there is no problem we cannot solve.</p>
                <a href="{% url 'donate' %}"><button type="button" class="btn btn-danger">Donate to Our beliefs</button></a>
                
            </div>
            <img src="https://drive.google.com/uc?export=view&id=10-uWTpvH3oHeu5P75ewAfi-BSTWWDmzd" class="card-img-bottom rounded mt-2" alt="..." height="400px">
            
        </div>
        
    </div>

    <div class="row my-4 ms-1 justify-content-center">
        <h2 class="text-center mb-4">Our Projects</h2>

        <div class="card me-3 mb-2" style="width: 18rem;">
            <img src="https://drive.google.com/uc?export=view&id=1TTImBmsFFR0iM88xzD_G8Lhi9Puqc8Hl" class="card-img-top" alt="..." height="200px;">
            <div class="card-body">
              <h5 class="card-title">The School Drop-out  Rate of student</h5>
              <p class="card-text">The school dropout rate is high in coastal villages and slum communities, very severe in the case of youth goes to school; their right to education is highly neglected by parent and had become the birth winner. Due to the poverty and in access to the educational institutions, these children are force in to child labor</p>
              <a href="{% url 'projects' %}" class="btn bg-lime">Read More</a>
            </div>
        </div>

        <div class="card me-3 mb-2" style="width: 18rem;">
            <img src="https://drive.google.com/uc?export=view&id=1iV55rNbSnZrUVKkF80NWO6qD4pTJiVHY" class="card-img-top" alt="..." height="200px;">
            <div class="card-body">
              <h5 class="card-title">Homeless Children  of all Kinds outreach</h5>
              <p class="card-text">As it is early stated that Children are our future, their Wellbeing is of most to us, and have to be given their basic right and need. we fight to strengthen society for the betterment of all. With this initiative is straightly our goals to promote great opportunities for those in need. with access to the right resources, so people can become empowered by their own abilities and gain the confidence to fulfill their potential.</p>
              <a href="{% url 'projects' %}" class="btn bg-lime">Read More</a>
            </div>
        </div>

        <div class="card me-3 mb-2" style="width: 18rem;">
            <img src="https://drive.google.com/uc?export=view&id=1VC-Zl51FlHBMX0Q_4jxxnKJX8UtAXEht" class="card-img-top" alt="..." height="200px;">
            <div class="card-body">
              <h5 class="card-title">Communities Diagnosis of good Hygiene and Sanitation Practices</h5>
              <p class="card-text">After a thorough community household engagement survey, data were gather base on the needs to intervene and correct some health problems arising as a result of limited understanding of the communities about water sanitation and hygiene (WASH).</p>
              <a href="{% url 'projects' %}" class="btn bg-lime">Read More</a>
            </div>
        </div>

    </div>

    <div class="row ms-1">

        <div class="col-md-6 mb-4">
            <h2>Our Activities </h2>
            <p class="mt-4">The general activities and nature of the institution in which this corporation shall engage in is as follow below and include any lawful act or activities for which a Not-For-Profit, Non-Governmental and Global Humanitarian Organization operates and is authorized to.</p>
            <a href="{% url 'activities' %}"><button class="btn bg-lime mt-3">Read More</button></a>
        </div>

        <div class="col-md-6">
            <img src="https://drive.google.com/uc?export=view&id=1Tg35s_fn7Zd3fFBQuaC4-0Zyy8KSQwF-" class="img-fluid rounded" alt="">
        </div>

    </div>

    <div class="row ms-1 my-4 text-center">

        <h2>Our Partners</h2>
        <p>Our partnership is tailored to the unique objective of each partner and the opportunities to leverage multiple assets, including financial resources, employer talent, customer engagement and more for greater global  impact. We are proud of the incredible partnership we've built with the organizations below, among many others. We'd love for you to join us.</p>

        <div class="col mb-2">
            <a href="#"><img src="https://drive.google.com/uc?export=view&id=15cuwzuWLXVaSlNzX2-LUv0DkHp0Tj_IW" alt="" width="100px" height="100px"></a>
        </div>
        
        <div class="col mb-2">
            <a href="#"><img src="https://drive.google.com/uc?export=view&id=1cAGl7fajJij1He-mvrcNPfBM-zNTQjvC" alt="" width="100px" height="100px"></a>
        </div>
        
        <div class="col mb-2">
            <a href="#"><img src="https://drive.google.com/uc?export=view&id=1O0G8DuJgfHV4Dp6AkqeT_IFn4-yL-vuF" alt="" width="100px" height="100px"></a>
        </div>
        
        <div class="col mb-2">
            <a href="#"><img src="https://drive.google.com/uc?export=view&id=19LiTVWbdeBk6xqI2mWTdteYBt2uxHRya" alt="" width="100px" height="100px"></a>
        </div>
        
    </div>

    <div class="row ms-1 my-4">
        <h3>Frequency Asked Questions</h3>

        <div class="accordion accordion-flush" id="accordionFlushExample">

            <div class="accordion-item">

              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    What is We Can Inc.
                </button>
              </h2>

              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">We Can Inc.  is a Non- governmental organization which seek that the wellbeing is at the forefront of what we’re working together towards, and Working towards a brighter future for everyone. By molding the minds of young global leaders. and rebirth the world through joint efforts of everyone, regardless of educational, social, religious, racial or financial status in society and work to help the most vulnerable as much as we can.

                Thanks to support from donors like you, we have been able to make a difference by saving, nurturing, and protecting the most vulnerable. We are active in any societies and territories, and have helped save more human's lives than many other humanitarian organization.  </div>
              </div>

            </div>

            <div class="accordion-item">

              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    What does We Can Inc. do?
                </button>
              </h2>

              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">We as a Non- governmental organization focuses on people and communities, we work with every Institutions and Individuals for society improvement and the wellbeing of all which depends on everyone of us ensuring that we all feel that we have a stake in it and do not feel excluded from the mainstream of society this is requires everyone of us but, particularly the most vulnerable have equal opportunities to improve or maintain their wellbeing, We take action on issues confronting humanity.

                Thanks to donors like you, we are able to be on the ground providing critical services and delivering supplies to the most vulnerable. We work alongside with governments, other non-governmental organizations (NGOs), and many other partners, to help ensure the biggest impact for human that in need and to reach children in the most remote places. And our work is only possible thanks to your generosity and commitment for saving human lives.</div>

              </div>

            </div>

            <div class="accordion-item">

              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Where does We Can Inc. gets its funding?
                </button>
              </h2>

              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Everything we do is funded by people like you, making voluntary contributions to ensure that We Can Inc, can continue its efforts to save, nurture, and protect lives of people everywhere in the world. For detailed information on our work and funding, you can contact us on our contact information below!</div>

              </div>

            </div>
            
            <div class="accordion-item">

              <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    How can I work for We Can Inc.?
                </button>
              </h2>

              <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Thanks for your interest in joining our team. We’re looking for committed professionals /individual willing to engage in the challenging work of advocacy, activisms for human rights, helping to meet their basic needs and expanding their opportunities to reach their full potential. Check out contact opportunities to join. wecaninc.org@gmail.com</div>

              </div>

            </div>
            <div class="accordion-item">

              <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    What can $10 dollars of my donation do to help?
                </button>
              </h2>

              <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">No donation is too small, and any donation can help save the lives of people. With a donation of just $10, you can support people with:
                people of disadvantage,
                lease privileged to become privileged,
                help disable to have something for theirs've,
                300 sachets of Ready-to-Use Therapeutic Food to help malnourished children
                or 30 packages of measles vaccine (vial of 10 doses) to protect children against malaria
                or 2 wash and dignity kits, helping provide essential hygiene to children and families </div>

              </div>

            </div>
            <div class="accordion-item">

              <h2 class="accordion-header" id="flush-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    How can I volunteer to work for We Can Inc.?
                </button>
              </h2>

              <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">If you are interested in long-term volunteer opportunities, you may be eligible for entry into the We Can Inc, Volunteer (WCIV) programme. This is We Can Inc, common programme that recruits volunteers for assignments throughout the We Can Inc system, including our partnering organizations. For additional information on volunteer opportunities, visit our volunteers page."</div>

              </div>

            </div>

        </div>

    </div>
    
</div>

{% endblock %}

