{% extends 'base.html' %}
{% block title %}Volunteer Form{% endblock title%}
{% block content %}

<div class="container my-4 bg-light">

    <div class="row ms-1">
        <h1>Internship Form</h1>
        <p>Thank you for your interest in interning with We Can Inc. Please fill out the form below and we will get back to you as soon as possible.</p>
    </div>

    <div class="row ms-1 mt-4">
        <div class="col-md-9 bg-light text-dark rounded border shadow">
            <form action="https://formsubmit.co/wecaninc.org@gmail.com" method="POST">
                <input type="hidden" name="_subject" value="New Internship submission from website!">
                <input type="hidden" name="_captcha" value="false">
                <input type="hidden" name="_autoresponse" value="Thanks for contacting us! We will get back to you sonner.">

                <div class="form-group my-2">
                <label for="name">Full Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
                </div>
    
                <div class="form-group my-2">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="_replyto" required>
                </div>
    
                <div class="form-group my-2">
                <label for="phone">Phone:</label>
                <input type="tel" class="form-control" id="phone" name="_phone" required>
                </div>
    
                <div class="form-group my-2">
                    <label for="dob">Date of Birth</label>
                    <input type="date" class="form-control" id="dob" name="dob" placeholder="Enter your date of birth" required>
                </div>
    
                <div class="form-group my-2">
                    <label for="address">Address:</label>
                    <input type="text" class="form-control" id="address" name="address">
                </div>
    
                <div class="form-group my-2">
                    <label for="gender">Gender:</label>
                    <select class="form-control" id="gender" name="gender">
                        <option value="">Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
    
                <div class="form-group my-2">
                <label for="education-level">Education Level:</label>
                <select class="form-control" id="education-level" name="_education-level" required>
                    <option value="">Select Education Level</option>
                    <option value="High School Diploma">High School Diploma</option>
                    <option value="Vocational School Certificate">Vocational School Certificate</option>
                    <option value="Associate's Degree">Associate's Degree</option>
                    <option value="Bachelor's Degree">Bachelor's Degree</option>
                    <option value="Master's Degree">Master's Degree</option>
                    <option value="Doctoral Degree">Doctoral Degree</option>
                    <option value="Other">Other</option>
                </select>
                </div>
    
                <div class="form-group my-2">
                <label for="income">Income:</label>
                <input type="number" class="form-control" id="income" name="_income" placeholder="Optional">
                </div>
    
                <div class="form-group my-2">
                <label for="occupation">Occupation:</label>
                <input type="text" class="form-control" id="occupation" name="_occupation" required>
                </div>
    
                <div class="form-group my-2">
                <label for="availability">Availability:</label>
                <textarea class="form-control" id="availability" name="_availability" required></textarea>
                </div>
    
                <div class="form-group my-2">
                <label for="skills-interests">Skills and Interests:</label>
                <textarea class="form-control" id="skills-interests" name="_skills-interests" required></textarea>
                </div>
    
                <button type="submit" class="btn bg-lime my-2">Submit</button>
                
            </form>
        </div>

        <div class="col d-md-none">

        </div>

    </div>
    
      
</div>

{% endblock %}